<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mick.driver7">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:name="android.support.multidex.MultiDexApplication">
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBVyujWsd90ek7p2olB_BYbSUcExeRxF64" />
        <activity
            android:name=".AdminActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name=".RegistrationActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".LoginActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />
        <!--<activity-->
            <!--android:name=".AdminActivity"-->
            <!--android:label="LOCATE DRIVERS"-->
            <!--android:theme="@style/Theme.AppCompat" />-->
        <activity
            android:name=".MapActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MapA"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".ProfileActivity"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".DesignateDriver"
            android:label="LOCATE DRIVERS"
            android:theme="@style/Theme.AppCompat" />

        <service
            android:name=".LocationService"
            android:theme="@style/Theme.AppCompat" />

        <service android:name=".GeofenceTransitionService"
            android:theme="@style/Theme.AppCompat" />


    </application>

</manifest>